<body class="welcome">

<div class="home">

<div>
<h1>Welcome to Exercises for Kids</h1>
</div>

<div class="promo">
<h3 class="h3">Bring Fun Life to Your Kids</h3>
<p class="homeP">Fun exercises for growing healthy</p>
<p class="homeP">Please sign up for get access for exercises!</p>
<div class="register">
<%= link_to "Sign up", new_user_session_path, class: "custom" %>
<%= link_to "Sign in", user_session_path, class: "custom"  %>
</div>
</div>

</div>

</body>
