<body class="welcome">

<div class="home">

  
 <% if user_signed_in? %>
  <div>
   <h1>Welcome to Exercises for Kids</h1>
  </div>

  <div class="profiles">
   <button class="child_profile">
   <%= link_to  "+Add Child", new_child_path, class: "child_btn" %>
  </button>
 
  <% Child.where(:user_id => current_user.id).each do |c| %>
  <button class="child_profile">
  <%= link_to  "#{c.name}", "/children/#{c.id}",  class: "child_link" %>
  </button>     
  <% end %>
</div>

<% else %>

<div class="promo">
<h3 class="h3">Bring Fun Life to Your Kids</h3>
<p class="homeP">Fun exercises for growing healthy</p>
<p class="homeP">Please sign up for get access for exercises!</p>
<div class="register">
<%= link_to "Sign up", new_user_registration_path, class: "custom" %>
<%= link_to "Sign in", user_session_path, class: "custom"  %>
</div>
</div>
<%end%>

</div>

</body>
