<h1 style="color: green"> <%= current_user.name %>'s Profile </h1>
<button><%= link_to "Days", days_path, class: "nav-link" %></button>
  
  <button><%= link_to "Exercises", exercises_path, class: "nav-link" %></button>
<button><%= link_to "Challenges", challenges_path, class: "nav-link" %></button>
