<div id="<%= dom_id day %>">
  <p>
    <strong>Challenge:</strong>
    <%= day.challenge_id %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= day.completed_at %>
  </p>

  <p>
    <strong>Exercise:</strong>
    <%= day.exercise_id %>
  </p>

</div>
