<body class="challenges_page">
<p style="color: green"><%= notice %></p>


<h1 id="header">Challenges</h1>

<div id="challenges">
  <% @challenges.order(:number_of_days => :asc).each do |challenge| %>
    <%= render challenge %>
  <% end %>
</div>

<%= link_to "New challenge", new_challenge_path %>
</body>
