
<h1 id="header">Challenges</h1>
<div id="challenges">
  <% @challenges.order(:number_of_days => :asc).each do |challenge| %>
    <%= render challenge %>
  <% end %>
</div>

<% if current_user.email == "alina@example.com" %>
<%= link_to "New challenge", new_challenge_path %>
<%end%>
