<div id="<%= dom_id exercise %>">
  <p>
    <strong>Title:</strong>
    <%= exercise.title %>
  </p>


  <iframe width="560" height="315" src="<%= exercise.video %>"  frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
  </iframe>

</div>
