<div id="<%= dom_id exercise %>">
  <p>
    <strong>Title:</strong>
    <%= exercise.title %>
  </p>
<div class="video-container">
  <%= video_tag("#{ex.video}", controls: true, class: "video-style", id: "video#{ex.id + 1}") %>
  <%# <iframe width="560" height="315" src="<%= exercise.video %>"
    <%# frameborder="0" allow="accelerometer;  %>
    <%# clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  %>
    <%# class="object-fit-fill" allowfullscreen> %>
  <%# </iframe> %> %>
</div>



</div>
